{
	email {$CADDY_ACME_EMAIL}
}

hippa-home.duckdns.org {
	encode zstd gzip
	request_body {
		max_size 12MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}

	reverse_proxy hippa-home-frontend:8080
}

hippa-home-api.duckdns.org {
	encode zstd gzip
	request_body {
		max_size 12MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}

	reverse_proxy hippa-home-backend:3000
}
